// Cores
$roxoEscuro: rgb(46, 26, 71);
$roxoDanke: #612651;
$brancoNeve: #e5e1e6;

*{
  padding: 0;margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;font-family: 'Nexa', sans-serif;font-weight: 400;
  color: $brancoNeve;
  transition: .5s all;
  outline: none;
  border: none;
}

// Fontes
.titulo{font-size: 2.625rem;font-weight: 700;}
.subtitulo{font-size: 1.625rem;font-weight: 500;}

.titulo, .subtitulo{ font-family: 'sft', serif;}

.foto{
  position: relative;
  width: 100%;height: 100%;
  max-width: 492px;max-height: 398px;
}

.photo{
  position: relative;
  width: 100%;height: 100%;
  max-width: 492px;max-height: 333px;
}

.setaLink{
  position: relative;top: 2.5px;
}

@media (max-width:700px){
  .titulo{font-size: 2.125rem;}
  .subtitulo{font-size: 1.375rem;}
  .textoBtn{font-size:1.125rem}
}

.botaoAcao{
  max-height: 45px;height: 45px;
  padding: 10px 25px;
  background: $brancoNeve;
  color: $roxoEscuro;
  font-size: 1.25rem;font-weight: 700;font-family: 'sft', sans-serif;
  cursor: pointer;

  &:hover{
    background: $roxoDanke;
    color: $brancoNeve;

  }

  @media (max-width:700px) {font-size:1.125rem}
}

.fixedWidth{max-width: 1366px;margin: 0 auto;}

.autoPadding{
  padding: 25px 75px;

  @media (max-width:700px) {
    padding: 25px 20px;
  }
}

body{
  background: $roxoEscuro;
}

