// Cores
$roxoEscuro: #2e1a47;
$roxoDanke: #612651;
$lilas: #C09ADD;
$brancoNeve: #e5e1e6;

*{
  padding: 0;margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;font-family: 'Nexa', sans-serif;font-weight: 400;
  color: $brancoNeve;
  transition: .5s all;
  outline: none;
  border: none;
}

// Fontes
.titulo{font-size: 2.625rem;font-weight: 700;}
.subtitulo{font-size: 1.625rem;font-weight: 500;}

.titulo, .subtitulo{ font-family: 'sft', sans-serif;}

.setaLink{
  position: relative;top: 2.5px;
}

@media (max-width:700px){
  .titulo{font-size: 2.125rem;}
  .subtitulo{font-size: 1.375rem;}
  .textoBtn{font-size:1.125rem}
}

.botaoAcao{
  text-align: center;
  max-width: 300px;
  max-height: 45px;height: 45px;
  padding: 10px 25px;
  background: $brancoNeve;
  color: $roxoEscuro;
  font-size: 1.25rem;font-weight: 700;font-family: 'sft', sans-serif;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .15);

  &:hover{
    background: $roxoDanke;
    color: $brancoNeve;

  }

  @media (max-width:700px) {font-size:1.125rem}
}

.fixedWidth{max-width: 1366px;margin: 0 auto;}

.autoPadding{
  padding: 25px 75px;

  @media (max-width:700px) {
    padding: 25px 20px;
  }
}

.hLinkPortGaleria{
  @media (max-width:900px) {
    display: none;
  }
}

.linkPortGaleria{
  @media (min-width:900px) {
    display: none;
  }
}

.hLinkPortGaleria, .linkPortGaleria{
  &:hover{
    text-decoration: 3px $lilas underline;
  }
}

body{
  background: $roxoEscuro;
  overflow-x: hidden;

   .gradientBackPage{
    background: linear-gradient(180deg, $roxoEscuro, $roxoEscuro, rgba(97, 38, 81,.25), $roxoEscuro);
  }

  &::-webkit-scrollbar{
    width: 10px;
  }

  &::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg,$roxoEscuro, $roxoDanke);
  }
}