#cabecalho {
  position: relative;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 1280px) {
  #cabecalho {
    height: 406px;
  }
}
#cabecalho::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(46, 26, 71, 0.5), rgba(97, 38, 81, 0.75));
}
@media (max-width: 1280px) {
  #cabecalho::after {
    height: 406px;
  }
}
#cabecalho #logoTitulo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  text-align: center;
}
#cabecalho #logoTitulo img {
  filter: brightness(1000);
  width: 400px !important;
}
@media (max-width: 700px) {
  #cabecalho #logoTitulo img {
    width: 200px !important;
  }
}
#cabecalho #scrollIndicator {
  position: absolute;
  bottom: 35px;
  left: 50%;
  z-index: 99;
  border-radius: 25px;
  border: 2px solid #fff;
  width: 25px;
  height: 55px;
}
@media (max-width: 1280px) {
  #cabecalho #scrollIndicator {
    display: none;
  }
}
#cabecalho #scrollIndicator::before {
  content: "";
  position: absolute;
  left: 28%;
  top: 5px;
  width: 5px;
  height: 15px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border: 2px solid #fff;
  animation: animate 1.5s ease-in-out infinite;
  opacity: 0;
}
@keyframes animate {
  50% {
    opacity: 1;
    height: 25px;
    background: rgb(255, 255, 255);
  }
  100% {
    height: 15px;
    opacity: 0;
    top: 25px;
  }
}
#cabecalho #scrollIndicator::after {
  content: "Role sua tela para continuar navegando";
  position: absolute;
  left: -110px;
  bottom: -25px;
  width: 270px;
  font-size: 0.8rem;
}
#cabecalho video {
  width: 100vw !important;
  height: auto !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1280px) {
  #cabecalho video {
    height: 406px !important;
    transform: scale(1.5);
  }
}
@media (max-width: 1280px) and (max-width: 500px) {
  #cabecalho video {
    transform: scale(2);
  }
}

#sectionSobre {
  padding: 25px 0;
}
#sectionSobre #sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
#sectionSobre #sobre h1 {
  max-width: 750px;
  width: 100%;
  margin: 0;
}
#sectionSobre #sobre h2 {
  margin: 25px 0;
  max-width: 655px;
}
#sectionSobre #sobre div {
  width: 100%;
  max-width: 355px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sectionSobre #sobre div a:nth-child(2) {
  text-decoration: underline;
  font-weight: 300;
}

#sectionGaleria header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sectionGaleria header #tituloGaleria {
  position: relative;
  left: 0px;
}
@media (max-width: 700px) {
  #sectionGaleria header #tituloGaleria {
    font-size: 1.375rem;
  }
}
#sectionGaleria header #tituloGaleria::before {
  content: "Gallery";
  position: absolute;
  top: -78%;
  left: -8%;
  color: rgba(97, 38, 81, 0.5);
  z-index: -1;
  font-size: 1rem;
  font-weight: 400;
  font-size: 4.25rem;
}
@media (max-width: 700px) {
  #sectionGaleria header #tituloGaleria::before {
    font-size: 2.125rem;
  }
}
#sectionGaleria header a {
  font-weight: 700;
  font-size: 1.25rem;
}
#sectionGaleria #areaImgs {
  margin-top: 25px;
  display: grid;
  grid-gap: 10px 25px;
  place-items: center;
  grid-template-areas: "imgA imgA imgB imgC" "imgA imgA imgD imgE";
}
@media (max-width: 1215px) {
  #sectionGaleria #areaImgs {
    margin: 25px auto;
    max-width: 598px;
    grid-template-areas: "imgA imgA" "imgB imgC" "imgD imgE";
  }
}
@media (min-width: 1216px) {
  #sectionGaleria #areaImgs {
    height: 398px;
  }
}
#sectionGaleria #areaImgs .areaImg {
  position: relative;
  width: 100%;
  overflow: hidden;
  grid-area: imgA;
}
#sectionGaleria #areaImgs .areaImg:nth-child(2) {
  grid-area: imgB;
}
#sectionGaleria #areaImgs .areaImg:nth-child(3) {
  grid-area: imgC;
}
#sectionGaleria #areaImgs .areaImg:nth-child(4) {
  grid-area: imgD;
}
#sectionGaleria #areaImgs .areaImg:nth-child(5) {
  grid-area: imgE;
}
#sectionGaleria > div {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}
#sectionGaleria > h1 {
  margin: 25px 0;
}
@media (min-width: 701px) {
  #sectionGaleria #tituloCards {
    font-size: 2rem;
  }
}
#sectionGaleria #areaCards {
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}
@media (max-width: 1215px) {
  #sectionGaleria #areaCards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
#sectionGaleria #areaCards .cardGaleria div {
  padding: 25px;
  max-width: 300px;
  width: 100%;
  border: 3px solid #e5e1e6;
  border-top-right-radius: 65.5px;
}
#sectionGaleria #areaCards .cardGaleria div p {
  margin-top: 25px;
}
@media (max-width: 1200px) {
  #sectionGaleria #areaCards .cardGaleria div img {
    max-width: 25px;
  }
  #sectionGaleria #areaCards .cardGaleria div p {
    font-size: 0.875rem;
  }
}
@media (max-width: 1200px) and (max-width: 500px) {
  #sectionGaleria #areaCards .cardGaleria div p {
    font-size: 0.675rem;
  }
}

#sectionServicos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 608px;
}
#sectionServicos > div {
  width: 100%;
  max-width: 492px;
}
#sectionServicos::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 41.5%;
  max-height: 608px;
  background: linear-gradient(180deg, rgba(46, 26, 71, 0), rgb(97, 38, 81));
  border-bottom-left-radius: 50%;
  z-index: 0;
}
@media (max-width: 1215px) {
  #sectionServicos {
    position: relative;
    flex-direction: column;
    height: 100%;
  }
  #sectionServicos::before {
    bottom: 0;
    max-width: 83%;
    max-height: 553px;
    border-bottom-left-radius: 150px;
  }
}
#sectionServicos #textosServicos {
  z-index: 99;
}
@media (max-width: 1215px) {
  #sectionServicos #textosServicos {
    height: 553px;
    padding-top: 50px;
  }
}
#sectionServicos #textosServicos h1 {
  max-width: 550px;
}
#sectionServicos #textosServicos h2 {
  margin: 25px 0 50px;
  max-width: 545px;
}

#sectionClientes h1 {
  text-align: center;
  margin-bottom: 50px;
}
#sectionClientes div {
  position: relative;
  width: 100%;
}/*# sourceMappingURL=index.module.css.map */